body {
    background-color: rgb(145, 66, 220);
    padding-top: 20em;
}

h1,h2,h3,h4 {
    text-align: center;
}

button {
    display: block;
    margin: auto;
    width: 20%;
    border: none;
    background-color: #04AA6D;
    color: rgb(10, 1, 1);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: aqua;
}
